<section class="section-padding relative" id="features">
  <div class="z-10 relative container">
    <div class="features-title">
    <h2 class="gradient-text">
      The Future is Now and You Just Need To Realize It. Step into Future Today
      & Make it Happen.
    </h2>
    <h4>Request Early Access to Get Started</h4>
  </div>

  <div class="features-content">
    <gpt-feature
      featureTitle="Improving end distrusts instantly"
      featureText="GPT-3 has the exceptional ability to understand context and fluidly generate intelligent, coherent text improving your initial output."
    ></gpt-feature>

    <gpt-feature
      featureTitle="Unlock Tomorrow's Potential"
      featureText="Immerse yourself in unlimited possibilities as the power of GPT-3 revolutionizes creativity and problem solving, the limit is your imagination."
    ></gpt-feature>

    <gpt-feature
      featureTitle="Seize the Future"
      featureText="From language mastery to visionary insights, master the tools that will propel you into a realm of limitless possibilities."
    ></gpt-feature>

    <gpt-feature
      featureTitle="Empower Your Vision"
      featureText="Envision a future where ideas become reality, and let GPT-3 be the catalyst that propels your vision into the forefront of possibility."
    ></gpt-feature>
  </div>
  </div>
  <div class="blur-one">

  </div>
</section>
