section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: 0px;
}
.posibility-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}
.posibility-image picture {
  width: 550px;
  height: 610px;
  top: 0%;
  position: absolute;
  left: 11%;
}

.posibility-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 600px;
  flex: 1;
}

.posibility-content p {
  font-family: var(--font-family);
  color: rgba(113, 229, 255, 1);
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
}

.posibility-content h2 {
  font-family: var(--font-family);
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  margin-block-start: 0.5rem;
}

.posibility-content .pargraph {
  font-family: var(--font-family);
  color: rgba(129, 175, 221, 1);
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  margin-block-start: 1.25rem;
  white-space: pre-line;
  text-wrap: nowrap;
}

.posibility-content a {
  font-family: var(--font-family);
  color: rgba(255, 138, 113, 1);
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;

  margin-block-start: 2rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
@media screen and (max-width: 1440px) {
  .posibility-image {
    min-width: 530px;
    min-height: 600px;
  }
  .posibility-image picture {
    width: 520px;
    height: 600px;
    top: 0%;
    left: 11%;
  }
}
@media screen and (max-width: 1250px) {
  .posibility-content .pargraph {
    white-space: normal;
    text-wrap: pretty;
  }
  .posibility-content h2 {
    font-size: 27.5px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1120px) {
  section {
    flex-direction: column;
    align-items: flex-start;
  }

  section .posibility-image {
    margin-block-end: 1.5rem;
    min-width: unset;
    min-height: unset;
    display: block;
  }
  section .posibility-image picture {
    position: unset;
    margin-inline-end: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  section .posibility-image picture img {
    position: relative !important;
    display: flex;
    width: 80% !important;
    height: 80% !important;
  }
}

@media only screen and (max-width: 700px) {
  section .posibility-image picture img {
    width: 100% !important;
    height: 100% !important;
  }
}
