<section class="section-padding relative z-10" id="posibility">
  <div class="posibility-image">
    <picture class="relative">
      <img
        ngSrc="../../../../../../assets/possibility.webp"
        fill
        alt="Posibility image"
      />
    </picture>
  </div>

  <div class="posibility-content">
    <p>Request Early Access to Get Started</p>

    <h2 class="gradient-text">Unleashing Possibilities <br/> Explore the Limitless Horizons of GPT-3's Potential</h2>


    <p class="pargraph">
      Step into a world of endless possibilities with GPT-3. From creative {{'\n'}}
      ideation, discover the boundless potential that awaits. Transform your concepts {{'\n'}}
      into reality, guided by the limitless capabilities of GPT-3.
    </p>

    <a> Get Ahead of the Crowd </a>
  </div>
</section>
