<section class="section-margin relative" id="wgpt3">
  <div class="wgpt3-container z-10 relative">
    <div class="wgpt3-header">
      <gpt-feature
        class="w-full"
        featureTitle="What is GPT-3"
        featureText="We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own. Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by."
      ></gpt-feature>
    </div>

    <div class="wgpt3-midle">
      <h2 class="gradient-text">The possibilities are beyond your imagination</h2>
      <p>Explore The Library</p>
    </div>

    <div class="wgpt3-content">
      <gpt-feature
        class="!ml-0"
        featureTitle="Chatbots"
        featureText="We so opinion friends me message as delight. Whole front do of plate heard oh ought."
      ></gpt-feature>

      <gpt-feature
        featureTitle="Knowledgebase"
        featureText="At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own apartments."
      ></gpt-feature>

      <gpt-feature
        featureTitle="Education"
        featureText="At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put impossible own apartments."
      ></gpt-feature>
    </div>
  </div>
  <div class="blur-one"></div>
</section>
