<section class="section-margin relative" id="wgpt3">
  <div class="wgpt3-container z-10 relative">
    <div class="wgpt3-header">
      <gpt-feature
        class="w-full"
        featureTitle="What is GPT-3"
        featureText="GPT-3 is a cutting-edge language model developed by OpenAI using deep learning, with 175 billion parameters. It can fluidly generate diverse texts, translate languages, create content and more without needing explicit programming. Pushing AI to new frontiers in natural language processing."
      ></gpt-feature>
    </div>

    <div class="wgpt3-midle">
      <h2 class="gradient-text">The possibilities are beyond your imagination</h2>
      <a href="#blog"><p>Explore blog</p></a>
    </div>

    <div class="wgpt3-content">
      <gpt-feature
        class="!ml-0"
        featureTitle="Chatbots"
        featureText="
Chatbots are AI-powered conversational agents that understand natural language questions, enabling automated and helpful dialogue."
      ></gpt-feature>

      <gpt-feature
        featureTitle="Knowledgebase"
        featureText="GPT-3 can build extensive knowledge bases for customer service, e-commerce, and more, understanding and answering natural language."
      ></gpt-feature>

      <gpt-feature
        featureTitle="Education"
        featureText="GPT-3 allows generating personalized lesson plans, correcting assignments, grading tests, and enriching student learning."
      ></gpt-feature>
    </div>
  </div>
  <div class="blur-one"></div>
</section>
