<section class="section-padding" id="blog">
  <h2 class="gradient-text">A lot is happening, {{'\n'}} We are blogging about it.</h2>
  <div class="articles">
    <gpt-article
      imgUrl="../../../../assets/blog01.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog02.webp"
      text="Unveiling the Future: A Deep Dive into GPT-3's Latest Breakthroughs."
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog03.webp"
      text="Behind the Scenes: Exploring the Innovation That Drives GPT-3's Powerhouse."
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog04.webp"
      text="From Code to Creativity: How GPT-3 is Shaping the Tech Landscape."
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog05.webp"
      text="Revolutionizing Conversations: The Impact of GPT-3 on Natural Language Processing."
      date="Sep 26, 2021"
    ></gpt-article>
  </div>
</section>
