<section class="section-padding">
  <h2 class="gradient-text">A lot is happening, {{'\n'}} We are blogging about it.</h2>
  <div class="articles">
    <gpt-article
      imgUrl="../../../../assets/blog01.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog02.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog03.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog04.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>

    <gpt-article
      imgUrl="../../../../assets/blog05.webp"
      text="GPT-3 and Open  AI is the future. Let us exlore how it is?"
      date="Sep 26, 2021"
    ></gpt-article>
  </div>
</section>
