footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--color-footer);
  overflow-x: hidden;
  padding-block-end: 0.75rem;
  padding-block-start: 7rem;
}

footer .footer-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  margin-block-end: 4rem;
}

footer .footer-heading h3 {
  font-size: 62px;
  line-height: 75px;
  font-weight: 700;
  letter-spacing: -0.4px;
  text-align: center;
  white-space: pre-line;
}

footer .footer-heading button {
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 1rem;
  margin-block-start: 3rem;
  outline: 1px solid #fff;

  transition-property: scale, color, box-shadow, outline;
  transition-duration: 700ms;
  transition-timing-function: ease;
  position: relative;
  overflow: hidden;
}

footer .footer-heading button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 700ms;

}

footer .footer-heading button:hover {
  color: #000000;
  scale: 1.075;
  outline: 1px solid #e6e6e6;
  box-shadow: 4px 5px 17px -4px #dddddd;
}

footer .footer-heading button:hover::before {
  width: 250%;
}

footer .footer-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  color: #fff;
  margin-block-start: 5rem;
  width: 100%;
}

footer .footer-middle h4 {
  color: #fff;
  font-size: 1rem;
  line-height: 16.5px;
  font-weight: 700;
}
footer .footer-middle .list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer .footer-middle .list li {
  margin: 1rem 0;
}
footer .footer-middle a {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  opacity: 0.8;
  transition: opacity 0.2s ease;
  outline: none;
  letter-spacing: 1.2px;
}

footer .footer-middle a:hover {
  opacity: 1;
}

footer .footer-middle p {
  color: #fff;
  font-size: 12px;
  line-height: 1.25rem;
  margin-block-start: 1rem;
  word-spacing: 1px;
  letter-spacing: 0.1px;
  white-space: pre-line;
}

footer .footer-bottom {
  margin-block-start: 2.5rem;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  word-spacing: 1.2px;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@media screen and (max-width: 550px) {
  footer .footer-heading h3 {
    font-size: 34px;
    line-height: 42px;
  }
}

@media screen and (max-width: 920px) {
  footer {
    padding-block-start: 5rem;
  }
  footer .footer-heading {
    margin-block-end: 3.5rem;
  }
  footer .footer-heading h3 {
    font-size: 44px;
    line-height: 50px;
  }
  footer .footer-middle {
    flex-direction: column;
    row-gap: 2.5rem;
    margin-block-start: 2rem;
  }

  footer .footer-middle > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  footer .footer-middle > div p {
    white-space: inherit;
    text-align: center;
  }
  footer .footer-middle .list {
    row-gap: 0;
    text-align: center;
  }
}




