<footer class="section-padding">
  <div class="footer-heading">
    <h3 class="gradient-text">Do you want to step in to the {{'\n'}} future before others</h3>
    <button type="button">Request Early Access</button>
  </div>

  <div class="footer-middle">
    <div>
      <img
        src="../../../../assets/logo-page.webp"
        loading="lazy"
        role="img"
        itemprop="img"
        fetchpriority="auto"
        alt="Logo GPT3"
      />

      <p>Crechterwoord K12 182 DK {{'\n'}} Alknjkcb, All Rights Reserved</p>
    </div>

    <div class="list">
      <h4>Links</h4>
      <ul>
        <li><a href="">Overons</a></li>
        <li><a href="">Social Media</a></li>
        <li><a href="">Counters</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
    <div class="list">
      <h4>Company</h4>
      <ul>
        <li><a href="">Terms & Conditions</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>

    <div class="list">
      <h4>Get in touch</h4>
      <ul>
        <li><a href="">Crechterwoord K12 182 DK Alknjkcb</a></li>
        <li><a href="">085-132567</a></li>
        <li><a href="">info&#64;payme.net</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <small>© 2021 GPT-3. All rights reserved.</small>
  </div>
</footer>
