@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100dvw;
  padding: 0;
  margin: 0;

  background-color: var(--color-bg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  direction: ltr;
  box-sizing: border-box;
  outline: none;
  overflow-x: hidden;
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: #fff;
}

.gradient-bg {
  background: rgb(0, 40, 83);
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

.orange-button {
  background-color: rgba(255, 72, 32, .9);
  border-radius: 0.315rem;
  transition: background-color .2s ease;
}

.orange-button:hover {
  background-color: rgb(253, 81, 42);
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;

  animation-name: scale-up-center;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin:center top;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    transform-origin:center top;
  }
}

.scale-down-top {
  -webkit-animation: scale-down-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;

  animation-name: scale-down-top;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes scale-down-top {
  0% {
    transform: scale(1);
    transform-origin: center top;
  }
  100% {
    transform: scale(0.5);
    transform-origin: center top;
  }
}

@media screen and (max-width: 700px) {
  .section-margin {
    margin: 4rem;
  }
  .section-padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section-margin {
    margin: 4rem 2rem;
  }
  .section-padding {
    padding: 4rem 2rem;
  }
}
