<section class="section-padding" id="home">
  <div class="home-container">
    <h1 class="gradient-text">
      Let's Build Something amazing with GPT-3 OpenAI
    </h1>
    <p>
      GPT-3 is the most advanced AI language model. With its incredible text and
      content generation capabilities, create solutions, applications and more.
      No coding skills required. Simply describe what you want to create to
      allow GPT-3's intelligence to start working.
    </p>
    <div class="home-input">
      <input
        type="email"
        placeholder="Your email address"
        dir="ltr"
        autocapitalize="none"
        autocomplete="email"
      />
      <button type="button" class="orange-button">Get Start</button>
    </div>

    <div class="home-people">
      <picture>
        <img
          ngSrc="../../../../../../assets/people.webp"
          fill
          priority=""
          alt="People image"
        />
      </picture>
      <p>1,600 people requested access a visit in last 24 hours</p>
    </div>
  </div>
  <picture class="home-banner">
    <img src="../../../../../../assets/ai.svg" alt="" />
  </picture>
</section>
