<section class="section-padding" id="home">
  <div class="home-container">
    <h1 class="gradient-text">
      Let's Build Something amazing with GPT-3 OpenAI
    </h1>
    <p>
      Yet bed any for travelling assistance indulgence unpleasing. Not thoughts
      all exercise blessing. Indulgence way everything joy alteration boisterous
      the attachment. Party we years to order allow asked of.
    </p>
    <div class="home-input">
      <input
        type="email"
        placeholder="Your email address"
        dir="ltr"
        autocapitalize="none"
        autocomplete="email"
      />
      <button type="button" class="orange-button">Get Start</button>
    </div>

    <div class="home-people">
      <picture>
        <img
          ngSrc="../../../../../../assets/people.webp"
          fill
          priority=""
          alt="People image"
        />
      </picture>
      <p>1,600 people requested access a visit in last 24 hours</p>
    </div>
  </div>
  <picture class="home-banner">
    <img src="../../../../../../assets/ai.svg" alt="">
  </picture>
</section>
